body{
  font-family: poppins;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
  margin-left: 20px;
  
}

.contenedor{
  display: flex;
  flex-direction: row;
  background-color: rgba(247, 247, 249, 0.5);
  top: 10px;
  left: 0;
  right: 0;
  height: 51px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.logo-nombre{
  margin-left: 20px;
  display: flex;
  font-size: 24px;
  font-weight: bold;
}

.nav-bar{
  flex: 1;
  margin-left: 260px;
  margin-right: 50px;
  padding-left: 310px;
  padding-right: 50px;
}

nav a{
  padding-right: 12px;
  font-size: 16px;
  font-weight: 600;
}

nav a:hover {
  color: #333333;
}

.icon{
  width: 300px;
  display: flex;
  align-items: start;
}

.iconos-header{
  height: 30px;
  width: 30px;
 
}

.hero{
  background-color: lightblue;
  height: 1080px;
  position: relative;
}

.carrousel1{
  width: 100%;
}

.nuevos-arribos{
  background-color: rgba(237, 229, 219, 1);
  position: absolute;
  top: 360px;
  width: 850px;
  height: 570px;
  left: 970px; 
}

  
.nuevos-arribos{ 
  font-family: 'Poppins';
  font-style: normal;
  line-height: auto;
  letter-spacing: 3px;
  color: #333333;

}

.carrousel-indicator{
  position: absolute;
  top: 1050px;
  left: 885px; 
}


