#head .container{
  display: flex;
  background-color: rgba(247, 247, 249, 0.5);
  top: 10px;
  left: 0;
  right: 0;
  height: 51px;
  align-items: center;
  position: fixed;
  z-index: 2;
}

#head .head-logo{
  display: flex;
  flex: 1;
  margin-left: 35px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding-right: 145px;
}

#head nav{ 
  display: flex;
  justify-content: center;
  flex: 4.5;
  font-size: 16px;
  font-weight: 500;
  color: black;
  align-self: center;
}

 #head .nav-link{
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px; 
  position: relative;
}

#head .nav-link:hover{
  color: #5e5e5e;
}

#head .nav-link:active{
  top: 1px;
}

#head .head-icon{
  display: flex;
  justify-content: flex-end;
  flex: 2.4;  
  margin-right: 40px;
}

#head .head-icon a{
  margin: 10px;
}

#head .head-icon button{
  background: none;
  padding: 5px;
  color: black;
} 

#head .head-icon button:hover, #head .head-icon button:active{
  background: none;
  box-shadow: none;
  color: #5e5e5e;
  transition-duration: none;
}

#head input{
  display: none;
  border: none;
  width: 250px;
  height: 38px;
  border-radius: 0;
  outline: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: 
  linear-gradient(90deg, #222,#222) center bottom/0 2px no-repeat,
  linear-gradient(90deg, #a0a0a0,#a0a0a0) left bottom/100% 2px no-repeat;
  transition: background-size 0.3s ease;      
}

#head .active{
  display: block;
}

#head input:valid{
  background-size: 100% 2px, 100% 2px;
} 
#head input:focus{
  background-size: 100% 2px, 100% 2px;
}

.scroll-down header{
  transform: translate3d(0, -100%,0);
}

.scroll-up header .container{
  filter: drop-shadow(0 -10px 20px rgb(151, 151, 151));
}


@media(max-width: 767px){
  #head nav{
    display: none;
  }

  .scroll-down header{
    transform: translate3d(0, -100%,0);
  }
  
  .scroll-up header .container{
    filter: drop-shadow(0 -10px 20px rgb(151, 151, 151));
  }
}



